.event-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .event-list li {
        background-color: darkgrey;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
    }

        .event-list li a {
            color: black;
            font-size: 14px;
            font-weight: bold;
            margin-right: 10px;
        }

    .event-list span {
        color: black;
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
    }