.event-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .event-list li {
        background-color: slategrey;
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
    }

        .event-list li a {
            color: white;
            font-size: 14px;
            margin-right: 10px;
        }

    .event-list span {
        color: white;
        font-size: 14px;
        margin-right: 10px;
    }