.fakebtn {
    display: inline-block;
    background-color: orangered;
    width: 300px;
    border-radius: 98px;
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.text-white {
    color: white;
}
