.fakebtn {
    background-color: orangered;
    width: 30px;
    border-radius: 90px;
    color: white;
    text-align: center;
}

.ticket-box {
    margin-bottom: 20px;
    padding: 10px;
    margin: 20px auto;
    background-color: #333;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .ticket-box h2 {
        margin-bottom: 10px;
    }

.validation-summary {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.text-white {
    color: white;
}
