.fakebtn {
    display: inline-block;
    background-color: orangered;
    width: 300px;
    border-radius: 98px;
    color: white;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ticket-early-bird {
    grid-area: 1 / 1 / 2 / 4;
    background-color: darkgray;
}

.ticket-normal {
    grid-area: 2 / 1 / 3 / 4;
    background-color: darkgray;
}

.ticket-late {
    grid-area: 3 / 1 / 4 / 4;
    background-color: darkgray;
}
