@page "/Events/{ID}"
@model Evnt_Nxt2.Pages.Events.DetailsModel
@section Styles{
<link rel="stylesheet" href="~/css/ticket.css" />
}
@{
    @if (Model.EventViewModel != null)
    {
        <h1>@Model.EventViewModel.Name</h1>

       
        <a asp-page="/Ticket" asp-route-id="@Model.EventViewModel.ID" class="fakebtn"> Buy Tickets for @Model.EventViewModel.Name </a>

    }
    else
    {
        <p>No Event Found.</p>
    }
}
