@page
@model Evnt_Nxt2.Pages.ArtistModel


<h2>All Artists</h2>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var artist in Model.ArtistList)
    {
        <tr>
            <td>@artist.ID</td>
            <td>@artist.Name</td>
        </tr>
    }
    </tbody>
</table>