@page
@model Evnt_Nxt2.Pages.ArtistModel;

<h1>Artist List</h1>

<ul>
    @foreach (var artist in Model.ArtistList)
    {
        <li>
            <a asp-page="/Artist/Details" asp-route-id="@artist.ID">@artist.Name</a>
        </li>
    }
</ul>