@page

@using Evnt_Nxt_Prest.ViewModel
@model Evnt_Nxt2.Pages.ArtistModel

@section Styles {
    <link rel="stylesheet" href="~/css/artist.css" />
}
<h1>Artist List</h1>


<ul class="artist-list">
    @foreach (ArtistViewModel artist in Model.ArtistList)
    {
        <li>
            <strong>Artist:</strong>
            <a asp-page="/Artist/Details" asp-route-name="@artist.Name">@artist.Name</a>

            <strong>Genres(s):</strong>
            @foreach (var genre in artist.Genres)
            {
                <span>@genre.Name</span>
            }
        </li>
    }
</ul>
