@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <iframe src="https://www.youtube.com/embed/mFYwSXltRpo?autoplay=1&loop=1&playlist=mFYwSXltRpo&controls=0&showinfo=0&modestbranding=1&rel=0"
            width="100%" height="500" frameborder="0" controls="0" showinfo="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
</main>