@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.IsConnected)
{
    <p style="color:green;">✅ Connected to the database!</p>
}
else
{
    <p style="color:red;">❌ No database connection.</p>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
RangeactAssert