@page
@model Evnt_Nxt2.Pages.LoginModel
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-container text-white">
    <h2>Login</h2>

    <form method="post">
        <div asp-validation-summary="All" class="text-white"></div>

        <div class="login-container">
            <label asp-for="UserLogin.Email" class="text-white">Email</label>
            <input asp-for="UserLogin.Email" class="form-input"/>
            <span asp-validation-for="UserLogin.Email" class="text-white"></span>
        </div>

        <div class="login-container">
            <label asp-for="UserLogin.Password" class="text-white">Password</label>
            <input asp-for="UserLogin.Password" class="form-input" type="password"/>
            <span asp-validation-for="UserLogin.Password" class="text-white"></span>
        </div>

        <div class="login-container">
            <button type="submit" class="login-button">Log In</button>
            <a asp-page="/Register" class="register-link">Create a new account</a>
        </div>
    </form>
</div>