@page
@using Evnt_Nxt_Business_.DomainClass
@model Evnt_Nxt2.Pages.TicketModel
@section Styles {
    <link rel="stylesheet" href="~/css/ticket.css" />
}
@{
    var ticketsByName = Model.EventTickets
        .GroupBy(tickets => tickets.Name)
        .OrderBy(group => group.Min(tickets => tickets.Price));
}
        <h1> </h1>

        @foreach (var group in ticketsByName)
        {
            <div class="container ticket-type-block">
            <h1 class="text-white">@group.Key</h1>
                <ul>
                    @foreach (var ticket in group)
                    {
                        <li class="text-white">
                            @if (ticket.Amount > 0)
                            { 
                                @ticket.Price.ToString("C")
                            }
                            else
                            {
                            <span>Sold Out</span> 
                            }
                        </li>
                    }
                </ul>
            </div>
        }
}