@page
@using Evnt_Nxt_Business_.DomainClass
@model Evnt_Nxt2.Pages.TicketModel
@section Styles {
    <link rel="stylesheet" href="~/css/ticket.css" />
}
@{
    var ticketsByName = Model.EventTickets
        .GroupBy(tickets => tickets.Name)
        .OrderBy(group => group.Min(tickets => tickets.Price));

        @foreach (var group in ticketsByName)
        {
            <div class="container ticket-type-block">
                <h1 class="text-white">@group.Key</h1>
                <ul>
                    @foreach (var ticket in group)
                    {
                        if (ticket.Amount > 0)
                        {
                        <li class="text-white">@ticket.Price.ToString("C")</li>
                        }

                        else
                        {
                        <li class="text-white">Sold Out("C")</li>
                        }
                    }
                </ul>
            </div>
        }
}
