@page
@model Evnt_Nxt2.Pages.TicketModel
@section Styles {
    <link rel="stylesheet" href="~/css/ticket.css" />
}
@{

    <div class="container">
        <div class="ticket-early-bird">
            <h1 class="text-white"> Early Birds</h1>
            <lu>
                <li>

                </li>
            </lu>
        </div>
        <div class="ticket-normal">
            <h1 class="text-white"> Normal Tickets</h1>
            <lu>
                <li>

                </li>
            </lu>
        </div>
        <div class="ticket-late">
            <h1 class="text-white"> Late Tickets</h1>
            <lu>
                <li>

                </li>
            </lu>
        </div>
    </div>

}
