@page
@model Evnt_Nxt2.Pages.UnauthorizedModel
@{
}


<h5 style="color: white;">
    You are not allowed on this page. Please<a href="/Index" style="color: white; text-decoration: underline;"> return to the homepage</a>.
</h5>